.container{
    width: 300px;
    height: 200px;
    padding: 20px;
    border: 5px solid black;
    margin: 15px;
}
.container2{
    width: 300px;
    height: 200px;
    padding: 20px;
    border: 5px solid black;
    box-sizing: border-box;
    
}

.box1,.box2{
    width: 200px;
    border: 3px solid black;
    display: inline-block;
}

.container3{
   
    margin: 20px;
}
.container4{
    
    height: 500px;
    width: 100%;
    border: 3px solid black;
    box-sizing: border-box;
}
.child{
    width: 300px;
    height: 200px;
    border: 2px solid black;
    box-sizing: border-box;
    margin-top: 150px;
    margin-bottom: 150px;
}

.item1{
    width: 150px;
    margin-top: 30px;
    border: 2px solid black;
}
.item2{
    width: 150px;
    margin-bottom: 30px;
    border: 2px solid black;
}
